@model IEnumerable<RegistroQuejas.Models.Complain>
@{
    ViewData["Title"] = "Registro de quejas";
}

<h2>Lista de quejas</h2>

<div class="row search">
    <div class="col-auto">
        <input type="text" class="form-control-plaintext" id="txt-search" placeholder="Buscar..." />
    </div>
    <div class="col-auto">
        <a class="btn btn-success" onclick="complains_search()" id="search-link"><i class="fas fa-search"></i> Buscar</a>
        <a asp-action="Create" class="btn btn-success"><i class="far fa-file"></i> Nueva queja</a>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.QuejaDni)</th>
                <th>@Html.DisplayNameFor(model => model.QuejaNombre)</th>
                <th>@Html.DisplayNameFor(model => model.QuejaFecha)</th>
                <th>Menu general de acciones</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.QuejaDni)</td>
                    <td>@Html.DisplayFor(modelItem => item.QuejaNombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.QuejaFecha)</td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.QuejaId"><i class="fas fa-edit"></i> Editar</a>
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.QuejaId"><i class="fas fa-file-alt"></i> Detalles</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.QuejaId"><i class="far fa-trash-alt"></i> Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="~/css/common.css" />
<script src="~/js/complains.js" asp-append-version="true"></script>